.item-card {
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
  padding: 20px 15px 10px;
  margin: 5px;
  position: relative;

  &__row {
    padding: 5px 15px 7px;
    position: relative;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }

    &.negative {
      &:before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ffc107;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.positive {
      &:before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #28a745;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__name {
    display: inline-block;
    width: 100px;
    font-weight: 600;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  &__text {
    margin: 0;
  }

  &__btn-wrap {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  &__id {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 28px;
    height: 28px;
    background: #17a2b8;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-right: 1px;
    line-height: 28px;
    font-weight: bold;
  }
}