@import '~bootstrap/scss/bootstrap.scss';

// GLOBAL

.form-control {
  background-clip: padding-box;
  -webkit-appearance: none;
}

// ORDER

.custom-card {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.1);
  &__btn-wrap {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    button {
      flex-basis: 250px;
    }
  }
}

.message-enter,
.alert-card-enter {
  opacity: 0;
}
.message-enter-active,
.alert-card-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}

.message-exit-active,
.alert-card-exit-active {
  opacity: 0;
  transition: all 300ms ease-out;
}

.item-card {
  flex-basis: 300px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
  padding: 15px;
  margin: 5px;
}
